<div class="card col-md-5 d-flex mx-auto mt-5">
    <div class="card-header bg-success text-white">
      <h4 class="p-0 m-0">Login</h4>
    </div>
    <div class="card-body">
        <div class="mb-3">
            <label for="username" class="form-label"><strong>Username </strong><sup class="text-danger fs-5">*</sup></label>
            <input type="email" class="form-control" name="username" placeholder="Enter your email" autocomplete="off" autofocus>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label"><strong>Password </strong><sup class="text-danger fs-5">*</sup></label>
            <input type="password" class="form-control" name="password" placeholder="Enter your password">
        </div>
    </div>
    <div class="card-footer">
      <button type="submit" class="btn btn-success">Login</button>
    </div>
  </div>